@import "tailwindcss";

@theme {
  --color-cheese: #FFFDF0;
  --color-chocolate: #3D2B1F;
}

body {
  background-color: #121212;
  color: #f3f4f6;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for Reviews */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #E5E7EB;
  border-radius: 20px;
}
